{% load staticfiles %}
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title>{% block title %}{% endblock title %} django-eblog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="{% static 'eblog/img/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}eblog/css/global.css" />
    </head>
    <body>
    <div id="wrapper">
        <div id="header">
            <a href="{% url "blog_archive" %}">django-eblog</a>
        </div>
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
    </div>
    </body>
</html>

