{% extends "eblog/base.html" %}
{% block title %}{{ slug }}{% endblock title %}
{% block head %}{% include "eblog/block_head.html" %}{% endblock head %}
{% block content %}
<h2>Categorie: {{ slug }}</h2>
<ul>
    {% for entry in list_article %}
    <li>
        <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a> |
        <small>
        {{ entry.publication_date|date:"Y/m/d @ H:i:s" }} -
        <a href="{{ entry.category.get_absolute_url }}">{{ entry.category.name|title }}</a>
        </small>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
